.AA_DataView_Moduli_item {
    background: #f5efe8 !important;
    border-color: #5ccce7 !important;
    border-radius: 5px;
    padding: 0px;
    min-height: 60px;
    color: #0c467f;
}

.AA_DataView_Moduli_item:hover
{
    box-shadow: 0px 0px 5px 3px #6398c4 !important;
    background: #fdf9f1 !important;
    color: #1963ad;
}

.AA_Desktop_Section_Box {
    background: #fafafa !important;
    border: 1px solid #5ccce7 !important;
    border-radius: 5px !important;
    padding: 0px;
    min-height: 60px;
}

.AA_Desktop_Section_Label
{
    font-size:larger;
    font-weight:900;
    border-bottom: 1px solid #5ccce7;
    color: #0c467f;
}
