.vscode/settings.json
admin/.ptp-sync-folder
admin/competenze.php
admin/gest_assessorati.php
admin/gest_direzioni.php
admin/gest_direzioni.php.save
admin/gest_dirigenti_pub.php
admin/gest_dirigenti.php
admin/gest_servizi.php
admin/gest_settori.php
admin/gest_uff_urp.php
admin/gest_utenti.php
admin/glossario.php
admin/index_new.php
admin/index.php
admin/load_manual.php
admin/log_utenti.php
admin/logs.php
admin/new_detail.php
admin/new_modify.php
admin/new_news.php
admin/new_sentenze.php
admin/news_archivio_storico.php
admin/news_archivio.php
admin/pop_up.php
admin/select_assessorati.php
admin/select_direzioni.php
admin/select_dirigenti.php
admin/select_servizi.php
admin/select_settori.php
admin/select_struct.php
admin/sentenze_detail.php
admin/sentenze_modify.php
admin/sentenze.php
admin/testata.php
admin/testata2.php
admin/utils.php
admin/docs/.ptp-sync-folder
admin/docs/00)_INDICE.pdf
admin/docs/01)_INSERIMENTO_E_MODIFICA_BOZZE.pdf
admin/docs/02)_ LA _PUBBLICAZIONE.pdf
admin/docs/03)_ LA_ STAMPA.pdf
admin/docs/04)_RICERCA PROCEDIMENTI_O_BOZZE.pdf
admin/docs/05)_LE_SIGLE_E_IL_GLOSSARIO.pdf
admin/docs/06)_GESTIONE _CESTINO.pdf
admin/docs/07)_ I_ MODELLI.pdf
admin/docs/08)_ LA_ GESTIONE_ UTENTI.pdf
admin/docs/09)_ LE_ NEWS.pdf
admin/docs/10)_GIURISPRUDENZA.pdf
admin/docs/index.php
admin/gest_schede/.ptp-sync-folder
admin/gest_schede/accessi_delete.php
admin/gest_schede/accessi_detail.php
admin/gest_schede/accessi_list.php
admin/gest_schede/accessi_new.php
admin/gest_schede/accessi_print.php
admin/gest_schede/accessi_pubblica.php
admin/gest_schede/accessi_public.php
admin/gest_schede/accessi_resume.php
admin/gest_schede/accessi_update.php
admin/gest_schede/accessi.php
admin/gest_schede/art12_delete.php
admin/gest_schede/art12_detail.php
admin/gest_schede/art12_list.php
admin/gest_schede/art12_new.php
admin/gest_schede/art12_print.php
admin/gest_schede/art12_pubblica.php
admin/gest_schede/art12_public_aspal.php
admin/gest_schede/art12_public.php
admin/gest_schede/art12_resume.php
admin/gest_schede/art12_update.php
admin/gest_schede/art12.php
admin/gest_schede/art14c1a_content.php
admin/gest_schede/art14c1a.php
admin/gest_schede/art14c1bis_content.php
admin/gest_schede/art14c1bis.php
admin/gest_schede/art14c1c_content.php
admin/gest_schede/art14c1c.php
admin/gest_schede/art15_delete_attestazione.php
admin/gest_schede/art15_delete_curriculum.php
admin/gest_schede/art15_delete_dichiarazione.php
admin/gest_schede/art15_delete.php
admin/gest_schede/art15_detail.php
admin/gest_schede/art15_download.php
admin/gest_schede/art15_list.php
admin/gest_schede/art15_new.php
admin/gest_schede/art15_pubblica.php
admin/gest_schede/art15_resume.php
admin/gest_schede/art15_update.php
admin/gest_schede/art15_upload.php
admin/gest_schede/art15.php
admin/gest_schede/art20_content.php
admin/gest_schede/art20.php
admin/gest_schede/art23_content.php
admin/gest_schede/art23.php
admin/gest_schede/art26_ops.php
admin/gest_schede/art29_content.php
admin/gest_schede/art29.php
admin/gest_schede/art30_content.php
admin/gest_schede/art30.php
admin/gest_schede/art37_aggiudicatari_add.php
admin/gest_schede/art37_aggiudicatari_delete.php
admin/gest_schede/art37_aggiudicatari_detail.php
admin/gest_schede/art37_aggiudicatari_list.php
admin/gest_schede/art37_aggiudicatari_update.php
admin/gest_schede/art37_Dataset.php
admin/gest_schede/art37_delete.php
admin/gest_schede/art37_detail.php
admin/gest_schede/art37_header_detail.php
admin/gest_schede/art37_header_modify.php
admin/gest_schede/art37_header_update.php
admin/gest_schede/art37_header.php
admin/gest_schede/art37_IndexDataset.php
admin/gest_schede/art37_list.php
admin/gest_schede/art37_lotti_add.php
admin/gest_schede/art37_lotti_delete.php
admin/gest_schede/art37_lotti_detail.php
admin/gest_schede/art37_lotti_gruppi_list.php
admin/gest_schede/art37_lotti_import_partecipanti_from_csv.php
admin/gest_schede/art37_lotti_list.php
admin/gest_schede/art37_lotti_update.php
admin/gest_schede/art37_new.php
admin/gest_schede/art37_ops.php
admin/gest_schede/art37_partecipanti_add.php
admin/gest_schede/art37_partecipanti_delete.php
admin/gest_schede/art37_partecipanti_detail.php
admin/gest_schede/art37_partecipanti_list.php
admin/gest_schede/art37_partecipanti_update.php
admin/gest_schede/art37_print.php
admin/gest_schede/art37_pubblica.php
admin/gest_schede/art37_resume.php
admin/gest_schede/art37_tags_list.php
admin/gest_schede/art37_tags.php
admin/gest_schede/art37_update_partecipanti.php
admin/gest_schede/art37.php
admin/gest_schede/bozze_allegati.php
admin/gest_schede/bozze_cestino_detail_old.php
admin/gest_schede/bozze_cestino_detail.php
admin/gest_schede/bozze_cestino.php
admin/gest_schede/bozze_collegamenti.php
admin/gest_schede/bozze_detail.php
admin/gest_schede/bozze_docs.php
admin/gest_schede/bozze_list.php
admin/gest_schede/bozze_modelli.php
admin/gest_schede/bozze_modello_detail.php
admin/gest_schede/bozze_modify_old.php
admin/gest_schede/bozze_modify.php
admin/gest_schede/bozze_multiple_cestina_preview.php
admin/gest_schede/bozze_multiple_cestina.php
admin/gest_schede/bozze_multiple_preview.php
admin/gest_schede/bozze_multiple_pubblica_preview.php
admin/gest_schede/bozze_multiple_pubblica.php
admin/gest_schede/bozze_multiple_save.php
admin/gest_schede/bozze_multiple.php
admin/gest_schede/bozze_new.php
admin/gest_schede/bozze_norm.php
admin/gest_schede/bozze_print_list_public.php
admin/gest_schede/bozze_print_list.php
admin/gest_schede/bozze_print_public.php
admin/gest_schede/bozze_print.php
admin/gest_schede/bozze_refer.php
admin/gest_schede/bozze_resp_proc.php
admin/gest_schede/bozze_soggetti.php
admin/gest_schede/bozze_tematiche.php
admin/gest_schede/debitori_delete.php
admin/gest_schede/debitori_detail.php
admin/gest_schede/debitori_list.php
admin/gest_schede/debitori_new.php
admin/gest_schede/debitori_pubblica.php
admin/gest_schede/debitori_resume.php
admin/gest_schede/debitori_update.php
admin/gest_schede/debitori.php
admin/gest_schede/glossario.php
admin/gest_schede/incarichi_ops.php
admin/gest_schede/incarichi.php
admin/gest_schede/lib.php
admin/gest_schede/modelli_collegamenti.php
admin/gest_schede/module.php
admin/gest_schede/modulistica_list.php
admin/gest_schede/newhtml.html
admin/gest_schede/newhtml1.html
admin/gest_schede/organismi_ops.php
admin/gest_schede/organismi.php
admin/gest_schede/polizze_autocomplete.php
admin/gest_schede/polizze_delete.php
admin/gest_schede/polizze_detail.php
admin/gest_schede/polizze_list.php
admin/gest_schede/polizze_new.php
admin/gest_schede/polizze_pubblica.php
admin/gest_schede/polizze_report.php
admin/gest_schede/polizze_resume.php
admin/gest_schede/polizze_update.php
admin/gest_schede/polizze.old.php
admin/gest_schede/polizze.php
admin/gest_schede/processi_export.php
admin/gest_schede/processi_list.php
admin/gest_schede/processi_ops.php
admin/gest_schede/processi_print.php
admin/gest_schede/processi.php
admin/gest_schede/report_pubblicazioni_content.php
admin/gest_schede/report_pubblicazioni.php
admin/gest_schede/risico_ops.php
admin/gest_schede/schede_cestino.php
admin/gest_schede/schede_detail.php
admin/gest_schede/schede_list.php
admin/gest_schede/schede_modify_old.php
admin/gest_schede/schede_modify.php
admin/gest_schede/schede_print_list_detail.php
admin/gest_schede/schede_print_list_public.php
admin/gest_schede/schede_print_list_public.php.old
admin/gest_schede/schede_print_list.php
admin/gest_schede/schede_print_public.php
admin/gest_schede/schede_struttura_print.php
admin/gest_schede/schede_struttura.php
admin/gest_schede/select_assessorati.php
admin/gest_schede/select_direzioni.php
admin/gest_schede/select_servizi.php
admin/gest_schede/select_settori.php
admin/gest_schede/select_struct.php
admin/gest_schede/select_tipoproc.php
admin/gest_schede/select_user.php
admin/gest_schede/struct_detail.php
admin/gest_schede/system_ops.php
admin/gest_schede/testata.php
art14/.ptp-sync-folder
art15/.ptp-sync-folder
art15/attestazioni/.ptp-sync-folder
art15/attestazioni/index.php
art15/curriculum/.ptp-sync-folder
art15/curriculum/index.php
art15/dichiarazioni/.ptp-sync-folder
art15/dichiarazioni/index.php
Connections/.ptp-sync-folder
Connections/urp.php
nbproject/project.properties
nbproject/project.xml
nbproject/private/config.properties
nbproject/private/private.properties
nbproject/private/private.xml
allegati.php
bozze_allegati.php
dichiarazioni_insussistenza.php
index_email.php
index_old.php
lib.php
manutenzione.php
module.php
new_test2.php
posizioni_dirigenziali.old.php
tabellina.php
test_email.php
test_pdf.php
update.php
validate_190.php
welcome.php
ws_test_art37.php
ws_test.php
utils/tcpdf/.gitignore
utils/tcpdf/.ptp-sync-folder
utils/tcpdf/CHANGELOG.TXT
utils/tcpdf/composer.json
utils/tcpdf/LICENSE.TXT
utils/tcpdf/README.md
utils/tcpdf/tcpdf_autoconfig.php
utils/tcpdf/tcpdf_barcodes_1d.php
utils/tcpdf/tcpdf_barcodes_2d.php
utils/tcpdf/tcpdf_import.php
utils/tcpdf/tcpdf_parser.php
utils/tcpdf/tcpdf.php
utils/tcpdf/VERSION
utils/tcpdf/.github/.ptp-sync-folder
utils/tcpdf/.github/FUNDING.yml
utils/tcpdf/config/.ptp-sync-folder
utils/tcpdf/config/tcpdf_config.php
utils/tcpdf/examples/.ptp-sync-folder
utils/tcpdf/examples/example_001.php
utils/tcpdf/examples/example_002.php
utils/tcpdf/examples/example_003.php
utils/tcpdf/examples/example_004.php
utils/tcpdf/examples/example_005.php
utils/tcpdf/examples/example_006.php
utils/tcpdf/examples/example_007.php
utils/tcpdf/examples/example_008.php
utils/tcpdf/examples/example_009.php
utils/tcpdf/examples/example_010.php
utils/tcpdf/examples/example_011.php
utils/tcpdf/examples/example_012.pdf
utils/tcpdf/examples/example_012.php
utils/tcpdf/examples/example_013.php
utils/tcpdf/examples/example_014.php
utils/tcpdf/examples/example_015.php
utils/tcpdf/examples/example_016.php
utils/tcpdf/examples/example_017.php
utils/tcpdf/examples/example_018.php
utils/tcpdf/examples/example_019.php
utils/tcpdf/examples/example_020.php
utils/tcpdf/examples/example_021.php
utils/tcpdf/examples/example_022.php
utils/tcpdf/examples/example_023.php
utils/tcpdf/examples/example_024.php
utils/tcpdf/examples/example_025.php
utils/tcpdf/examples/example_026.php
utils/tcpdf/examples/example_027.php
utils/tcpdf/examples/example_028.php
utils/tcpdf/examples/example_029.php
utils/tcpdf/examples/example_030.php
utils/tcpdf/examples/example_031.php
utils/tcpdf/examples/example_032.php
utils/tcpdf/examples/example_033.php
utils/tcpdf/examples/example_034.php
utils/tcpdf/examples/example_035.php
utils/tcpdf/examples/example_036.php
utils/tcpdf/examples/example_037.php
utils/tcpdf/examples/example_038.php
utils/tcpdf/examples/example_039.php
utils/tcpdf/examples/example_040.php
utils/tcpdf/examples/example_041.php
utils/tcpdf/examples/example_042.php
utils/tcpdf/examples/example_043.php
utils/tcpdf/examples/example_044.php
utils/tcpdf/examples/example_045.php
utils/tcpdf/examples/example_046.php
utils/tcpdf/examples/example_047.php
utils/tcpdf/examples/example_048.php
utils/tcpdf/examples/example_049.php
utils/tcpdf/examples/example_050.php
utils/tcpdf/examples/example_051.php
utils/tcpdf/examples/example_052.php
utils/tcpdf/examples/example_053.php
utils/tcpdf/examples/example_054.php
utils/tcpdf/examples/example_055.php
utils/tcpdf/examples/example_056.php
utils/tcpdf/examples/example_057.php
utils/tcpdf/examples/example_058.php
utils/tcpdf/examples/example_059.php
utils/tcpdf/examples/example_060.php
utils/tcpdf/examples/example_061.php
utils/tcpdf/examples/example_062.php
utils/tcpdf/examples/example_063.php
utils/tcpdf/examples/example_064.php
utils/tcpdf/examples/example_065.php
utils/tcpdf/examples/index.php
utils/tcpdf/examples/tcpdf_include.php
utils/tcpdf/examples/barcodes/.ptp-sync-folder
utils/tcpdf/examples/barcodes/example_1d_html.php
utils/tcpdf/examples/barcodes/example_1d_png.php
utils/tcpdf/examples/barcodes/example_1d_svg.php
utils/tcpdf/examples/barcodes/example_1d_svgi.php
utils/tcpdf/examples/barcodes/example_2d_datamatrix_html.php
utils/tcpdf/examples/barcodes/example_2d_datamatrix_png.php
utils/tcpdf/examples/barcodes/example_2d_datamatrix_svg.php
utils/tcpdf/examples/barcodes/example_2d_datamatrix_svgi.php
utils/tcpdf/examples/barcodes/example_2d_pdf417_html.php
utils/tcpdf/examples/barcodes/example_2d_pdf417_png.php
utils/tcpdf/examples/barcodes/example_2d_pdf417_svg.php
utils/tcpdf/examples/barcodes/example_2d_pdf417_svgi.php
utils/tcpdf/examples/barcodes/example_2d_qrcode_html.php
utils/tcpdf/examples/barcodes/example_2d_qrcode_png.php
utils/tcpdf/examples/barcodes/example_2d_qrcode_svg.php
utils/tcpdf/examples/barcodes/example_2d_qrcode_svgi.php
utils/tcpdf/examples/barcodes/tcpdf_barcodes_1d_include.php
utils/tcpdf/examples/barcodes/tcpdf_barcodes_2d_include.php
utils/tcpdf/examples/config/.ptp-sync-folder
utils/tcpdf/examples/config/tcpdf_config_alt.php
utils/tcpdf/examples/data/.ptp-sync-folder
utils/tcpdf/examples/data/chapter_demo_1.txt
utils/tcpdf/examples/data/chapter_demo_2.txt
utils/tcpdf/examples/data/table_data_demo.txt
utils/tcpdf/examples/data/utf8test.txt
utils/tcpdf/examples/data/cert/.ptp-sync-folder
utils/tcpdf/examples/data/cert/tcpdf.crt
utils/tcpdf/examples/data/cert/tcpdf.fdf
utils/tcpdf/examples/data/cert/tcpdf.p12
utils/tcpdf/examples/images/_blank.png
utils/tcpdf/examples/images/.ptp-sync-folder
utils/tcpdf/examples/images/alpha.png
utils/tcpdf/examples/images/image_demo.jpg
utils/tcpdf/examples/images/image_with_alpha.png
utils/tcpdf/examples/images/img.png
utils/tcpdf/examples/images/logo_example.gif
utils/tcpdf/examples/images/logo_example.jpg
utils/tcpdf/examples/images/logo_example.png
utils/tcpdf/examples/images/tcpdf_box.ai
utils/tcpdf/examples/images/tcpdf_box.svg
utils/tcpdf/examples/images/tcpdf_cell.png
utils/tcpdf/examples/images/tcpdf_logo.jpg
utils/tcpdf/examples/images/tcpdf_signature.png
utils/tcpdf/examples/images/testsvg.svg
utils/tcpdf/examples/images/tux.svg
utils/tcpdf/examples/lang/.ptp-sync-folder
utils/tcpdf/examples/lang/afr.php
utils/tcpdf/examples/lang/ara.php
utils/tcpdf/examples/lang/aze.php
utils/tcpdf/examples/lang/bel.php
utils/tcpdf/examples/lang/bra.php
utils/tcpdf/examples/lang/bul.php
utils/tcpdf/examples/lang/cat.php
utils/tcpdf/examples/lang/ces.php
utils/tcpdf/examples/lang/chi.php
utils/tcpdf/examples/lang/cym.php
utils/tcpdf/examples/lang/dan.php
utils/tcpdf/examples/lang/eng.php
utils/tcpdf/examples/lang/est.php
utils/tcpdf/examples/lang/eus.php
utils/tcpdf/examples/lang/far.php
utils/tcpdf/examples/lang/fra.php
utils/tcpdf/examples/lang/ger.php
utils/tcpdf/examples/lang/gle.php
utils/tcpdf/examples/lang/glg.php
utils/tcpdf/examples/lang/hat.php
utils/tcpdf/examples/lang/heb.php
utils/tcpdf/examples/lang/hrv.php
utils/tcpdf/examples/lang/hun.php
utils/tcpdf/examples/lang/hye.php
utils/tcpdf/examples/lang/ind.php
utils/tcpdf/examples/lang/ita.php
utils/tcpdf/examples/lang/jpn.php
utils/tcpdf/examples/lang/kat.php
utils/tcpdf/examples/lang/kor.php
utils/tcpdf/examples/lang/mkd.php
utils/tcpdf/examples/lang/mlt.php
utils/tcpdf/examples/lang/msa.php
utils/tcpdf/examples/lang/nld.php
utils/tcpdf/examples/lang/nob.php
utils/tcpdf/examples/lang/pol.php
utils/tcpdf/examples/lang/por.php
utils/tcpdf/examples/lang/ron.php
utils/tcpdf/examples/lang/rus.php
utils/tcpdf/examples/lang/slv.php
utils/tcpdf/examples/lang/spa.php
utils/tcpdf/examples/lang/sqi.php
utils/tcpdf/examples/lang/srp.php
utils/tcpdf/examples/lang/swa.php
utils/tcpdf/examples/lang/swe.php
utils/tcpdf/examples/lang/ukr.php
utils/tcpdf/examples/lang/urd.php
utils/tcpdf/examples/lang/yid.php
utils/tcpdf/examples/lang/zho.php
utils/tcpdf/fonts/.ptp-sync-folder
utils/tcpdf/fonts/aealarabiya.ctg.z
utils/tcpdf/fonts/aealarabiya.php
utils/tcpdf/fonts/aealarabiya.z
utils/tcpdf/fonts/aefurat.ctg.z
utils/tcpdf/fonts/aefurat.php
utils/tcpdf/fonts/aefurat.z
utils/tcpdf/fonts/cid0cs.php
utils/tcpdf/fonts/cid0ct.php
utils/tcpdf/fonts/cid0jp.php
utils/tcpdf/fonts/cid0kr.php
utils/tcpdf/fonts/courier.php
utils/tcpdf/fonts/courierb.php
utils/tcpdf/fonts/courierbi.php
utils/tcpdf/fonts/courieri.php
utils/tcpdf/fonts/dejavusans.ctg.z
utils/tcpdf/fonts/dejavusans.php
utils/tcpdf/fonts/dejavusans.z
utils/tcpdf/fonts/dejavusansb.ctg.z
utils/tcpdf/fonts/dejavusansb.php
utils/tcpdf/fonts/dejavusansb.z
utils/tcpdf/fonts/dejavusansbi.ctg.z
utils/tcpdf/fonts/dejavusansbi.php
utils/tcpdf/fonts/dejavusansbi.z
utils/tcpdf/fonts/dejavusanscondensed.ctg.z
utils/tcpdf/fonts/dejavusanscondensed.php
utils/tcpdf/fonts/dejavusanscondensed.z
utils/tcpdf/fonts/dejavusanscondensedb.ctg.z
utils/tcpdf/fonts/dejavusanscondensedb.php
utils/tcpdf/fonts/dejavusanscondensedb.z
utils/tcpdf/fonts/dejavusanscondensedbi.ctg.z
utils/tcpdf/fonts/dejavusanscondensedbi.php
utils/tcpdf/fonts/dejavusanscondensedbi.z
utils/tcpdf/fonts/dejavusanscondensedi.ctg.z
utils/tcpdf/fonts/dejavusanscondensedi.php
utils/tcpdf/fonts/dejavusanscondensedi.z
utils/tcpdf/fonts/dejavusansextralight.ctg.z
utils/tcpdf/fonts/dejavusansextralight.php
utils/tcpdf/fonts/dejavusansextralight.z
utils/tcpdf/fonts/dejavusansi.ctg.z
utils/tcpdf/fonts/dejavusansi.php
utils/tcpdf/fonts/dejavusansi.z
utils/tcpdf/fonts/dejavusansmono.ctg.z
utils/tcpdf/fonts/dejavusansmono.php
utils/tcpdf/fonts/dejavusansmono.z
utils/tcpdf/fonts/dejavusansmonob.ctg.z
utils/tcpdf/fonts/dejavusansmonob.php
utils/tcpdf/fonts/dejavusansmonob.z
utils/tcpdf/fonts/dejavusansmonobi.ctg.z
utils/tcpdf/fonts/dejavusansmonobi.php
utils/tcpdf/fonts/dejavusansmonobi.z
utils/tcpdf/fonts/dejavusansmonoi.ctg.z
utils/tcpdf/fonts/dejavusansmonoi.php
utils/tcpdf/fonts/dejavusansmonoi.z
utils/tcpdf/fonts/dejavuserif.ctg.z
utils/tcpdf/fonts/dejavuserif.php
utils/tcpdf/fonts/dejavuserif.z
utils/tcpdf/fonts/dejavuserifb.ctg.z
utils/tcpdf/fonts/dejavuserifb.php
utils/tcpdf/fonts/dejavuserifb.z
utils/tcpdf/fonts/dejavuserifbi.ctg.z
utils/tcpdf/fonts/dejavuserifbi.php
utils/tcpdf/fonts/dejavuserifbi.z
utils/tcpdf/fonts/dejavuserifcondensed.ctg.z
utils/tcpdf/fonts/dejavuserifcondensed.php
utils/tcpdf/fonts/dejavuserifcondensed.z
utils/tcpdf/fonts/dejavuserifcondensedb.ctg.z
utils/tcpdf/fonts/dejavuserifcondensedb.php
utils/tcpdf/fonts/dejavuserifcondensedb.z
utils/tcpdf/fonts/dejavuserifcondensedbi.ctg.z
utils/tcpdf/fonts/dejavuserifcondensedbi.php
utils/tcpdf/fonts/dejavuserifcondensedbi.z
utils/tcpdf/fonts/dejavuserifcondensedi.ctg.z
utils/tcpdf/fonts/dejavuserifcondensedi.php
utils/tcpdf/fonts/dejavuserifcondensedi.z
utils/tcpdf/fonts/dejavuserifi.ctg.z
utils/tcpdf/fonts/dejavuserifi.php
utils/tcpdf/fonts/dejavuserifi.z
utils/tcpdf/fonts/freemono.ctg.z
utils/tcpdf/fonts/freemono.php
utils/tcpdf/fonts/freemono.z
utils/tcpdf/fonts/freemonob.ctg.z
utils/tcpdf/fonts/freemonob.php
utils/tcpdf/fonts/freemonob.z
utils/tcpdf/fonts/freemonobi.ctg.z
utils/tcpdf/fonts/freemonobi.php
utils/tcpdf/fonts/freemonobi.z
utils/tcpdf/fonts/freemonoi.ctg.z
utils/tcpdf/fonts/freemonoi.php
utils/tcpdf/fonts/freemonoi.z
utils/tcpdf/fonts/freesans.ctg.z
utils/tcpdf/fonts/freesans.php
utils/tcpdf/fonts/freesans.z
utils/tcpdf/fonts/freesansb.ctg.z
utils/tcpdf/fonts/freesansb.php
utils/tcpdf/fonts/freesansb.z
utils/tcpdf/fonts/freesansbi.ctg.z
utils/tcpdf/fonts/freesansbi.php
utils/tcpdf/fonts/freesansbi.z
utils/tcpdf/fonts/freesansi.ctg.z
utils/tcpdf/fonts/freesansi.php
utils/tcpdf/fonts/freesansi.z
utils/tcpdf/fonts/freeserif.ctg.z
utils/tcpdf/fonts/freeserif.php
utils/tcpdf/fonts/freeserif.z
utils/tcpdf/fonts/freeserifb.ctg.z
utils/tcpdf/fonts/freeserifb.php
utils/tcpdf/fonts/freeserifb.z
utils/tcpdf/fonts/freeserifbi.ctg.z
utils/tcpdf/fonts/freeserifbi.php
utils/tcpdf/fonts/freeserifbi.z
utils/tcpdf/fonts/freeserifi.ctg.z
utils/tcpdf/fonts/freeserifi.php
utils/tcpdf/fonts/freeserifi.z
utils/tcpdf/fonts/helvetica.php
utils/tcpdf/fonts/helveticab.php
utils/tcpdf/fonts/helveticabi.php
utils/tcpdf/fonts/helveticai.php
utils/tcpdf/fonts/hysmyeongjostdmedium.php
utils/tcpdf/fonts/kozgopromedium.php
utils/tcpdf/fonts/kozminproregular.php
utils/tcpdf/fonts/msungstdlight.php
utils/tcpdf/fonts/pdfacourier.php
utils/tcpdf/fonts/pdfacourier.z
utils/tcpdf/fonts/pdfacourierb.php
utils/tcpdf/fonts/pdfacourierb.z
utils/tcpdf/fonts/pdfacourierbi.php
utils/tcpdf/fonts/pdfacourierbi.z
utils/tcpdf/fonts/pdfacourieri.php
utils/tcpdf/fonts/pdfacourieri.z
utils/tcpdf/fonts/pdfahelvetica.php
utils/tcpdf/fonts/pdfahelvetica.z
utils/tcpdf/fonts/pdfahelveticab.php
utils/tcpdf/fonts/pdfahelveticab.z
utils/tcpdf/fonts/pdfahelveticabi.php
utils/tcpdf/fonts/pdfahelveticabi.z
utils/tcpdf/fonts/pdfahelveticai.php
utils/tcpdf/fonts/pdfahelveticai.z
utils/tcpdf/fonts/pdfasymbol.php
utils/tcpdf/fonts/pdfasymbol.z
utils/tcpdf/fonts/pdfatimes.php
utils/tcpdf/fonts/pdfatimes.z
utils/tcpdf/fonts/pdfatimesb.php
utils/tcpdf/fonts/pdfatimesb.z
utils/tcpdf/fonts/pdfatimesbi.php
utils/tcpdf/fonts/pdfatimesbi.z
utils/tcpdf/fonts/pdfatimesi.php
utils/tcpdf/fonts/pdfatimesi.z
utils/tcpdf/fonts/pdfazapfdingbats.php
utils/tcpdf/fonts/pdfazapfdingbats.z
utils/tcpdf/fonts/stsongstdlight.php
utils/tcpdf/fonts/symbol.php
utils/tcpdf/fonts/times.php
utils/tcpdf/fonts/timesb.php
utils/tcpdf/fonts/timesbi.php
utils/tcpdf/fonts/timesi.php
utils/tcpdf/fonts/uni2cid_ac15.php
utils/tcpdf/fonts/uni2cid_ag15.php
utils/tcpdf/fonts/uni2cid_aj16.php
utils/tcpdf/fonts/uni2cid_ak12.php
utils/tcpdf/fonts/zapfdingbats.php
utils/tcpdf/fonts/ae_fonts_2.0/.ptp-sync-folder
utils/tcpdf/fonts/ae_fonts_2.0/ChangeLog
utils/tcpdf/fonts/ae_fonts_2.0/COPYING
utils/tcpdf/fonts/ae_fonts_2.0/README
utils/tcpdf/fonts/dejavu-fonts-ttf-2.33/.ptp-sync-folder
utils/tcpdf/fonts/dejavu-fonts-ttf-2.33/AUTHORS
utils/tcpdf/fonts/dejavu-fonts-ttf-2.33/BUGS
utils/tcpdf/fonts/dejavu-fonts-ttf-2.33/langcover.txt
utils/tcpdf/fonts/dejavu-fonts-ttf-2.33/LICENSE
utils/tcpdf/fonts/dejavu-fonts-ttf-2.33/NEWS
utils/tcpdf/fonts/dejavu-fonts-ttf-2.33/README
utils/tcpdf/fonts/dejavu-fonts-ttf-2.33/status.txt
utils/tcpdf/fonts/dejavu-fonts-ttf-2.33/unicover.txt
utils/tcpdf/fonts/dejavu-fonts-ttf-2.34/.ptp-sync-folder
utils/tcpdf/fonts/dejavu-fonts-ttf-2.34/AUTHORS
utils/tcpdf/fonts/dejavu-fonts-ttf-2.34/BUGS
utils/tcpdf/fonts/dejavu-fonts-ttf-2.34/langcover.txt
utils/tcpdf/fonts/dejavu-fonts-ttf-2.34/LICENSE
utils/tcpdf/fonts/dejavu-fonts-ttf-2.34/NEWS
utils/tcpdf/fonts/dejavu-fonts-ttf-2.34/README
utils/tcpdf/fonts/dejavu-fonts-ttf-2.34/status.txt
utils/tcpdf/fonts/dejavu-fonts-ttf-2.34/unicover.txt
utils/tcpdf/fonts/freefont-20100919/.ptp-sync-folder
utils/tcpdf/fonts/freefont-20100919/AUTHORS
utils/tcpdf/fonts/freefont-20100919/ChangeLog
utils/tcpdf/fonts/freefont-20100919/COPYING
utils/tcpdf/fonts/freefont-20100919/CREDITS
utils/tcpdf/fonts/freefont-20100919/INSTALL
utils/tcpdf/fonts/freefont-20100919/README
utils/tcpdf/fonts/freefont-20120503/.ptp-sync-folder
utils/tcpdf/fonts/freefont-20120503/AUTHORS
utils/tcpdf/fonts/freefont-20120503/ChangeLog
utils/tcpdf/fonts/freefont-20120503/COPYING
utils/tcpdf/fonts/freefont-20120503/CREDITS
utils/tcpdf/fonts/freefont-20120503/INSTALL
utils/tcpdf/fonts/freefont-20120503/README
utils/tcpdf/fonts/freefont-20120503/TROUBLESHOOTING
utils/tcpdf/fonts/freefont-20120503/USAGE
utils/tcpdf/include/.ptp-sync-folder
utils/tcpdf/include/sRGB.icc
utils/tcpdf/include/tcpdf_colors.php
utils/tcpdf/include/tcpdf_filters.php
utils/tcpdf/include/tcpdf_font_data.php
utils/tcpdf/include/tcpdf_fonts.php
utils/tcpdf/include/tcpdf_images.php
utils/tcpdf/include/tcpdf_static.php
utils/tcpdf/include/barcodes/.ptp-sync-folder
utils/tcpdf/include/barcodes/datamatrix.php
utils/tcpdf/include/barcodes/pdf417.php
utils/tcpdf/include/barcodes/qrcode.php
utils/tcpdf/tools/.htaccess
utils/tcpdf/tools/.ptp-sync-folder
utils/tcpdf/tools/convert_fonts_examples.txt
utils/tcpdf/tools/tcpdf_addfont.php
utils/accessi_lib_print.js
utils/accessi_lib_public.js
utils/accessi_lib.js
utils/art12_lib_print.js
utils/art12_lib_public.js
utils/art12_lib.js
utils/art14c1a_lib.js
utils/art14c1bis_lib.js
utils/art14c1c_lib.js
utils/art15_lib.js
utils/art20_lib.js
utils/art22_lib.php
utils/art23_lib.js
utils/art26_lib.js
utils/art26_lib.php
utils/art29_lib.js
utils/art30_lib.js
utils/art30_lib.php
utils/art37_detail_lib.js
utils/art37_header_lib.js
utils/art37_lib.js
utils/art37_lotti_ext.js
utils/art37_lotti_lib.js
utils/art37_tags.js
utils/browse_detect.js
utils/browser_detect.js
utils/Chart.bundle.min-2.9.3.js
utils/chart.min.3.7.1.js
utils/check_user.php
utils/debitori_lib.js
utils/dropzone.js
utils/dz_art14.js
utils/dz_art20.js
utils/dz_art23.js
utils/dz_art29.js
utils/dz_art30.js
utils/email_login_lib.js
utils/gestutenti_lib.js
utils/incarichi_lib.js
utils/incarichi_lib.php
utils/jquery-1.5.min.js
utils/jquery-1.10.2.js
utils/jquery-3.1.0.min.js
utils/jquery-3.5.1.min.js
utils/jquery-migrate-1.4.1.js
utils/jquery-migrate-3.3.2.js
utils/jquery-ui-1.10.4.custom.min.js
utils/jquery-ui.js
utils/jquery-ui.min.js
utils/jquery.fileupload.js
utils/jquery.iframe-transport.js
utils/jstree.min.js
utils/lib_accessi.php
utils/lib_art12.php
utils/lib_art15.php
utils/lib_art22.php
utils/lib_art37.php
utils/lib_automation.php
utils/lib_debitori.php
utils/lib_polizze.php
utils/lib_sibar.php
utils/lib_tags.php
utils/libs.php
utils/login_lib.js
utils/main_lib.js
utils/menu_lib.js
utils/organismi_lib.js
utils/php2html_lib.php
utils/polizze_lib.js
utils/processi_lib.js
utils/processi_lib.php
utils/processi_stat_print.js
utils/report_pubblicazioni_content_lib.js
utils/report_pubblicazioni_lib.js
utils/risico_lib.php
utils/system_lib.2.0.js
index.php
reset_pwd.php
