.ui-menu { width: 99%;z-index: 10;font-size: 0.9em;}
.ui-widget {font-size: 1em;}
#art37_toolbar {padding: 0px; display: inline-block; text-align: left; height:auto;}
/* support: IE7 */*+html #art37_toolbar {display: inline;}
#art15_toolbar {padding: 0px; display: inline-block; text-align: left; height:auto;padding-top: .4em;}
/* support: IE7 */*+html #art15_toolbar {display: inline;}

.ui-button.redButton {
    background: #fec172;
}

.ui-button.greenButton {
    background: green;
}

.custom-combobox-input {
    width:96%;
    margin: 0;
    padding: 5px 10px;
}

.custom-combobox-toggle {
vertical-align: top;
height: 1.8em;
top: 0;
bottom: 0;
margin-left: -1px;
padding: 0;
}
